.zig-cache/
zig-cache/
.zig-out/
zig-out/
/build/
/release/
/debug/

.devcontainer/*
!.devcontainer/devcontainer.json
!.devcontainer/Dockerfile

.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/

.env
.env.local